@font-face {
    font-family: "IBM Plex Serif";
    src: url("./../fonts/IBM_Plex_Serif/IBMPlexSerif-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
html {
    box-sizing: border-box;
    outline: red 2px solid;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    outline: inherit;
}

:root {
    --header: auto;
    --footer: 40px;
    --main: calc(100vh - calc(var(--header) + var(--footer)));
    --page-margin: 143px;
}

body {
    display: block;
    padding: 0;
    margin: 0 var(--page-margin);
    height: 100vh;
    background-color: #fafafa;
    font-family: "IBM Plex Serif", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #000000;
}

#header {
    height: var(--header);
}

#main-content {
    height: var(--main);
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    flex-shrink: 0;
}

.nav-right {
    display: flex;
    flex-shrink: 0;
    gap: 36px;
}
a {
    font-size: 15px;
    text-decoration: none;
    color: #000000;
}
a.nav-link {  
    color: #919191;
}

a.nav-link.active {
    color: #000000;
}

.grid-container {
    --grid-item-width: 300px;
    --grid-item-height: 400px;
    --grid-item-img-height: 300px;
    resize: both;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
    grid-template-rows: repeat(3, var(--grid-item-height));
    grid-auto-rows: var(--grid-item-height);
    column-gap: 40px;
    row-gap: 40px;
    margin: 0 150px;
}
.grid-item {
    text-align: center;
    font-size: 1.5rem;
    padding: 0px;
    border: 1px solid rgb(47, 39, 37);

    display: grid;
    grid-template-columns: var(--grid-item-width);
    grid-template-rows: var(--grid-item-img-height) 2fr 1fr;
}

p {
    margin: 10px auto;
}

.project-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

figure {
    margin: 0px;
}

#footer {
    height: var(--footer);
}

@media (max-width: 600px) {
    body {
        margin: 0px;
    }
}